@import "variable";

html, body, div, ol, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, input, button, textarea, p, span, form {
    margin: 0;
    padding: 0
}

body, input, button, select, textarea {
    color: $font-color;
    font-size: 14px;
    font-family: "Microsoft Yahei", "Yuanti SC", "Source Han Sans CN", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

img, a img {
    display: block;
    border: 0
}

a {
    outline: medium none;
    text-decoration: none;
    transition: color .2s linear, background-color .2s linear;
    color: $font-color;
}

a:hover {
    text-decoration: none;
    color: $primary-color;
}

label {
    cursor: pointer
}

ul li, .ol li {
    list-style: none
}

em, cite, i {
    font-style: normal
}

/* 去除Chrome等浏览器文本框默认发光边框 */

input:focus, textarea:focus {
    outline: none;
}

/* 去除IE10+浏览器文本框后面的小叉叉 */

input::-ms-clear {
    display: none;
}

/* 禁止多行文本框textarea拖拽 */

textarea {
    resize: none;
}

html {
    height: 100%;
    width: 100%;
}
