@font-face {
    font-family: 'anyiicon';  /* Project id 3277073 */
    src: url('//at.alicdn.com/t/font_3277073_vxp8ig5a0kc.woff2?t=1648538009216') format('woff2'),
    url('//at.alicdn.com/t/font_3277073_vxp8ig5a0kc.woff?t=1648538009216') format('woff'),
    url('//at.alicdn.com/t/font_3277073_vxp8ig5a0kc.ttf?t=1648538009216') format('truetype');
}

.anyi-icon {
    font-family: "anyiicon", serif !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-code:before {
    content: "\e8ea";
}

.icon-link:before {
    content: "\e643";
}

.icon-about-me:before {
    content: "\e662";
}

.icon-notice:before {
    content: "\e7d8";
}

.icon-tags:before {
    content: "\e63e";
}

.icon-search:before {
    content: "\e6ac";
}
