@import "variable";
@import "base";


.home{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $home-bg-color;
    .content-box{
        display: flex;
        flex-shrink: 0;
        flex-direction: row;
        align-items: flex-start;
        margin-top: 50px;
        width: 1440px;
        //padding: 30px 0 30px 30px;
        background-color: #FFFFFF;
        border-radius: $border-radius-xl;
        .header{
            margin: 40px 0 40px 40px;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 165px;
            background: $primary-color;
            border-radius: $border-radius-md;
            color: #FFFFFF;
            height: 800px;
            position: sticky;
            top: 30px;
            .logo-wrap{
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 15px;
                .logo-img-wrap{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .logo{
                        width: 72px;
                        height: 72px;
                        margin-bottom: 8px;
                        border-radius: $border-radius-xs;
                    }
                    h2{
                        color: #FFFFFF;
                        font-size: 18px;
                        font-weight: 900;
                        margin-bottom: 5px;
                    }
                }
                .sub-title{
                    font-size: 12px;
                    font-weight: 300;
                    margin-top: 4px;
                }
            }
            .menu-box{
                margin-top: 20px;
                .menu-list{
                    .menu-item{
                        margin-top: 20px;
                        a{
                            margin: 0 auto;
                            display: flex;
                            width: 80px;
                            height: 80px;
                            align-items: center;
                            flex-direction: column;
                            justify-content: center;
                            background: rgba(255, 255, 255, 0.06);
                            border-radius: $border-radius-sm;
                            font-size: 13px;
                            color: #FFFFFF;
                            &::before{
                                font-size: 28px;
                                color: #FFFFFF;
                            }
                            &:hover{
                                color: #FFD55D;
                                background: rgba(255, 255, 255, 0.1);
                            }
                            .anyi-icon{
                                font-size: 30px;
                                margin-bottom: 4px;
                            }
                            .menu-item-title{
                                font-size: 14px;
                            }
                        }
                    }
                    .current-menu-item{
                        a{
                            background-color: #fff;
                            .anyi-icon,.menu-item-title{
                                color: #364CC6;
                            }
                        }
                    }
                }
            }
        }
        .main{
            flex-grow: 1;
            box-sizing: border-box;
            height: 100%;
            //background-color: blue;
            padding: 50px;
            display: flex;
            flex-direction: column;
            min-width: 380px;
            .slider-container{
                .pic-cover-item{
                    border-radius: $border-radius-md;
                    overflow: hidden;
                    .pic-cover-item-img{
                        height: 400px;
                        width: 100%;
                    }
                }
            }
            .banner-slide{
                border-radius: $border-radius-md;
                &-item{
                    border-radius: $border-radius-md;
                    display: flex;
                    flex: 1;
                    &-img{
                        border-radius: $border-radius-md;
                        flex: 1;
                        display: block;
                        height: 400px;
                    }
                }
            }
            .post-list{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .post-item{
                    width: calc(50% - 30px);
                    margin-top: 30px;
                    &-img-hover{
                        display: block;
                        .post-item-img{
                            width: 100%;
                            height: 200px;
                            border-radius: $border-radius-xs;
                        }
                    }
                    &-title{
                        display: block;
                        margin-top: 12px;
                        &_text{
                            font-size: 18px;
                        }
                    }
                    &-tags{
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        margin-top: 8px;
                        .tag-wrap{
                            flex-grow: 1;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            a{
                                display: inline-flex;
                                align-items: center;
                                height: 22px;
                                color: #C6A549;
                                font-size: 12px;
                                padding: 0 6px;
                                margin-left: 2px;
                                background-color: rgba(255, 213, 93, 0.18);
                                border-radius: 22px;
                            }
                        }
                        .post-item-meta{
                            font-size: 14px;
                            color: $font-color-gray;
                            flex-shrink: 0;
                            margin-left: 5px;
                        }
                    }
                    &-summary{
                        font-size: 14px;
                        color: #9DA0B3;
                        margin-top: 5px;
                        text-align: justify;

                        overflow:hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2; //多行在这里修改数字即可
                        /* autoprefixer: ignore next */
                        -webkit-box-orient: vertical;
                    }
                }
            }
            .crumbs{
                a{
                    font-size: 14px;
                    margin-right: 16px;
                    position: relative;
                    &::after{
                        content: '/';
                        color: $font-color-gray;
                        width: 16px;
                        text-align: center;
                        pointer-events: none;
                        cursor: default;
                        position: absolute;
                        bottom: 0;
                    }
                }
                span{
                    font-size: 14px;
                    color: $font-color-gray;
                }
            }
            .post-wrap{
                margin-top: 38px;
                .post-header{
                    .post-title{
                        font-size: 32px;
                        line-height: 1.2;
                        color: $font-color;
                    }
                    .post-meta{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        margin: 30px 0;
                        .left{
                            display: flex;
                            align-items: center;
                            .post-category{
                                color: $font-color-gray;
                                font-size: 14px;
                                margin-right: 20px;
                                &:hover{
                                    color: $primary-color;
                                }
                            }
                            span{
                                margin-right: 20px;
                            }
                        }
                        .right{
                            display: flex;
                            align-items: center;
                        }
                        span{
                            font-size: 14px;
                            color: $font-color-gray;
                        }
                        .tag{
                            margin-left: 5px;
                            display: inline-flex;
                            align-items: center;
                            height: 22px;
                            color: #C6A549;
                            font-size: 12px;
                            padding: 0 6px;
                            background-color: rgba(255, 213, 93, 0.18);
                            border-radius: 22px;
                        }
                    }
                }
                .post-content {
                    font-size: 17px;
                    line-height: 2;
                    word-break: break-all;
                    text-align: justify;
                    padding-bottom: 26px;
                    border-bottom: 1px #EAEFFE solid;
                }

                .post-content p {
                    margin-top: 22px;
                    margin-bottom: 22px;
                }

                .post-content h3 {
                    display: inline-block;
                    font-size: 22px;
                    margin-top: 22px;
                    font-weight: bolder;
                    position: relative;
                    z-index: 1;
                }

                .post-content h4 {
                    margin-top: 22px;
                    margin-bottom: 22px;
                    font-size: 20px;
                }

                .post-content h3::after {
                    position: absolute;
                    bottom: 8px;
                    content: '';
                    display: block;
                    width: 100%;
                    height: 10px;
                    background-color: #FFD55D;
                    z-index: -1;
                }

                .post-content figure.wp-block-image {
                    margin: 22px auto;
                    border-radius: 16px;
                    overflow: hidden;
                    border: 1px #ddd solid;
                    width: fit-content;
                    max-width: 100%;
                }

                .wp-block-image img {
                    max-width: 100%;
                }
            }
        }
        .aside{
            width: 380px;
            flex-direction: column;
            align-items: center;
            flex-shrink: 0;
            &-item{
                padding: 40px;
                margin-bottom: 30px;
                background: #FFFFFF;
                box-shadow: $component-shadow;
                border-radius: $border-radius-lg;
                &-content{
                    .search-form{
                        height: 50px;
                        display: flex;
                        align-items: stretch;
                        border-radius: 50px;
                        background-color: #F6F8FF;
                        margin-top: 26px;
                        margin-bottom: 26px;
                        i{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin:0 5px 0 10px;
                            color: $font-color-gray;
                            font-size: 24px;
                        }
                        .search-input{
                            flex: 1;
                            border: none;
                            background-color: transparent;
                            &::placeholder {
                                color: $font-color-gray;
                            }
                        }
                    }
                    .block-wrap{
                        .block-title{
                            font-size: 22px;
                            color: $font-color;
                            margin-bottom: 20px;
                            .block-title_a{}
                        }
                        // 侧边栏文章（不带文章简介）
                        .sidebar-post-list-not-desc{
                            .sidebar-post-item{
                                display: flex;
                                align-items: center;
                                margin-top: 26px;
                                &-img-box{
                                    .sidebar-post-item-img{
                                        display: block;
                                        width: 128px;
                                        height: 104px;
                                        border-radius: 16px;
                                        margin-right: 16px;
                                    }
                                }
                                &-title{
                                    font-size: 14px;
                                }
                            }
                        }
                        // 侧边栏文章目录
                        .directory{
                            background-color: #F6F8FF;
                            border-radius: 16px;
                            font-size: 16px;
                            padding: 22px 0 22px 38px;
                            li{
                                color: #9DA0B3;
                                list-style: disc;
                                margin-bottom: 8px;
                                cursor: pointer;
                                a{
                                    color: #9DA0B3;
                                    transition: color .25s ease;
                                }
                            }
                        }
                        .post-item{
                            margin-top: 30px;
                            &-img-hover{
                                display: block;
                                .post-item-img{
                                    width: 100%;
                                    height: 150px;
                                    border-radius: $border-radius-xs;
                                }
                            }
                            &-title{
                                display: block;
                                margin-top: 12px;
                                &_text{
                                    font-size: 18px;
                                }
                            }
                            &-tags{
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                margin-top: 8px;
                                .tag-wrap{
                                    flex-grow: 1;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    a{
                                        display: inline-flex;
                                        align-items: center;
                                        height: 22px;
                                        color: #C6A549;
                                        font-size: 12px;
                                        padding: 0 6px;
                                        margin-left: 2px;
                                        background-color: rgba(255, 213, 93, 0.18);
                                        border-radius: 22px;
                                    }
                                }
                                .post-item-meta{
                                    font-size: 14px;
                                    color: $font-color-gray;
                                    flex-shrink: 0;
                                    margin-left: 5px;
                                }
                            }
                            &-summary{
                                font-size: 14px;
                                color: #9DA0B3;
                                margin-top: 5px;
                                text-align: justify;

                                overflow:hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 2; //多行在这里修改数字即可
                                /* autoprefixer: ignore next */
                                -webkit-box-orient: vertical;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        height: 60px;
        font-size: 13px;
        color: $font-color-gray;
        a {
            margin-left: 6px;
        }
        .footer-br {
            display: none;
        }
    }
}
